<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Botón de Pánico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="panic-wrapper">
    <ion-button expand="block" color="danger" size="large" (click)="triggerPanic()">
      <ion-card-title>Botón de Pánico</ion-card-title>
      ¡Emergencia!
    </ion-button>
  </div>
</ion-content>
