<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Citas Médicas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="abrirModal()">
        <img src="assets/icon/addwhite.png" alt="add" class="icono-input" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="calendario-content">
  <p class="subtitulo">Aquí puedes revisar tus próximas consultas</p>

  <ion-list>
    <ion-item *ngFor="let cita of citas; let i = index">
      <ion-label>
        <h3>{{ cita.fecha }}</h3>
        <p><strong>Hora:</strong> {{ cita.hora }}</p>
        <p><strong>Médico:</strong> {{ cita.medico }}</p>
        <p><strong>Lugar:</strong> {{ cita.lugar }}</p>
      </ion-label>

      <ion-button fill="clear" size="small" slot="end" (click)="editarCita(i)">
        <img src="assets/icon/edit.png" width="20" height="20" alt="Editar">
      </ion-button>

      <ion-button fill="clear" size="small" slot="end" (click)="eliminarCita(i)">
        <img src="assets/icon/eliminar.png" width="20" height="20" alt="Eliminar">
      </ion-button>
    </ion-item>

  </ion-list>

  <ion-button expand="block" color="primary" fill="outline" (click)="abrirModal()">
    <ion-icon name="add-circle-outline" slot="start"></ion-icon>
    Agendar nueva cita
  </ion-button>
  
  <ion-button expand="block" color="danger" fill="solid" (click)="borrarCitas()">
    <ion-icon name="trash-outline" slot="start"></ion-icon>
    Borrar todas las citas
  </ion-button>
  
