<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Editar Cuidador</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Teléfono</ion-label>
      <ion-input formControlName="phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Correo Electrónico</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>

    <ion-button expand="block" color="success" (click)="save()">Guardar</ion-button>
  </form>
</ion-content>
